@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 30% 6%;
    --foreground: 240 7% 80%;
    --card: 246 30% 12%;
    --card-foreground: 240 7% 80%;
    --popover: 246 30% 6%;
    --popover-foreground: 240 7% 80%;
    --primary: 265 90% 70%;
    --primary-foreground: 240 7% 95%;
    --secondary: 240 10% 20%;
    --secondary-foreground: 240 7% 95%;
    --muted: 240 10% 20%;
    --muted-foreground: 240 5% 55%;
    --accent: 300 90% 70%;
    --accent-foreground: 240 7% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 265 90% 70%;
    --chart-1: 265 90% 70%;
    --chart-2: 300 90% 70%;
    --chart-3: 198 93% 60%;
    --chart-4: 283 100% 41%;
    --chart-5: 342.1 92.5% 61.4%;
  }

  .dark {
    --background: 246 30% 6%;
    --foreground: 240 7% 80%;
    --card: 246 30% 12%;
    --card-foreground: 240 7% 80%;
    --popover: 246 30% 6%;
    --popover-foreground: 240 7% 80%;
    --primary: 265 90% 70%;
    --primary-foreground: 240 7% 95%;
    --secondary: 240 10% 20%;
    --secondary-foreground: 240 7% 95%;
    --muted: 240 10% 20%;
    --muted-foreground: 240 5% 55%;
    --accent: 300 90% 70%;
    --accent-foreground: 240 7% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 265 90% 70%;
    --radius: 0.5rem;
  }
}

@layer base {
  html {
    @apply bg-background;
  }
  html::-webkit-scrollbar {
    display: none;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .hide-number-arrows::-webkit-outer-spin-button,
  .hide-number-arrows::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .hide-number-arrows {
      -moz-appearance: textfield;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
